#comment-textarea{
  width: 300px;
  height: 60px;
}

.comments {
  width: 95%;
  max-width: 450px;
}
.comment-content {
  margin: 5px;
  padding: 5px;
  border-top: 1px solid red;
}
.comment-author, .comment-date, .comment-location {
  text-align: right;
  font-size: 10px;
}

.response-content {
  margin: 5px 15px;
  border-top: 1px solid green;
}
.response-author, .response-date {
  text-align: right;
  font-size: 10px;
}

.respond-btn {
  cursor: pointer;
  font-size: 10px;
  padding: 10px;
  margin-left: 10px;
}

.editting {
  width: 300px;
  height: 100px;
}