#body-wrapper {
  max-width: 600px;
  width: 90%;
  margin: 0 auto;
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.no-bullet *{
  list-style: none;
}

#right-nav {
  float: right;
  margin-right: 50px;
  margin-top: 20px;
}
#left-nav {
  float: left;
  margin-left: 50px;
  margin-top: 20px;
}
#nav-wrapper, .clear-wrapper {
  overflow: hidden;
  width: 100%;
}


p {
  line-height: 150%;
  padding: 5px;
}