<template name='clubAdminNavbar'>
<div id='clear-wrapper'>
  <div id='club-admin-nav'>
    {{#if atClubHome}}
    {{else}}
      <a href="/clubId/{{_id}}">
        <i class='icon-chevron-up'></i> Back
      </a>
    {{/if}}
    <a href='/edit/clubId/{{_id}}' id='edit-btn'>
      <i class='icon-pencil'></i>
      Edit project page
    </a>
    <a href='/mailingList/{{_id}}'>
      <i class='icon-list'></i>
      Mailing List
    </a>
    <a href='/sendMessage/{{_id}}'>
      <i class='icon-envelope'></i>
      Send Message
    </a>
  </div>
</div>
</template>