<template name='club'>
  {{#with currClub}}
      
    {{#if err}}
      {{> errorPage}}

    {{else}}
      <div id='join'>
        <a class='btn'>Join this club's mailing list</a>
      </div>
      <h1>{{name}}</h1>

      <div id='club-content'>
        {{{content}}}

      </div>
      <a href='/editClub/{{name}}'>Edit</a>
      <div class='navbar'>
        <a href="/categories/{{category}}">
          <i class='icon-chevron-up'></i> {{category}}
        </a>
      </div>
    {{/if}}
  {{/with}}

</template>