<template name='club'>
  {{#with getClub}}
    {{#if club}}
      {{#with club}}
        <div>
          <a href='/categoryId/{{categoryId}}'>
            <i class='icon-chevron-up'></i> {{categoryName}}
          </a>
        </div>

        <h1>{{name}}</h1>
        <div id='club-content'>
          {{{content}}}
        </div>

        <div id='join-bar'>
          {{#if isMember}}
            <a id='unjoin-btn' class='btn'>
              <i class='icon-remove-sign'></i>
              Unjoin mailing list
            </a>
          {{else}}
            <a id='join-btn' class='btn btn-primary'>
              <i class='icon-star'></i>
              Join this club's mailing list
            </a>
          {{/if}}
        </div>

        {{#if isClubAdmin}}
          <div id='club-admin-nav-wrapper'>
            <div id='club-admin-nav'>
              <a href='/edit/clubId/{{_id}}' id='edit-btn'>
                Edit
              </a>
              <a href='/mailingList/{{_id}}'>
                Mailing List
              </a>
            </div>
          </div>
        {{/if}}
      {{/with}}
    {{else}}    
      {{> errorPage}}
    {{/if}} 
  {{/with}}   

</template>