<template name='createClub'>

<h2>Create a project idea page</h2>
<form>
  <label for='name'>Name</label>
  <input type='text' id='name'/>
  <br/>
  <label for='desc'>Brief Description</label>
  <textarea id='desc' placeholder='140 characters or less'></textarea>
  <br/>
  <select id='categoryId'>
    <option value="" disabled selected>Category</option>
    {{#each categories}}
      <option value='{{_id}}'>{{name}}</option>
    {{/each}}
  </select>
  <h3>Examples</h3>
  <ul class='no-bullet'>
    {{#each categories}}
      <li>
        <a href="/categoryId/{{_id}}">{{name}}</a>: {{desc}}</li>
      </li>
    {{/each}}
  </ul>

  <br/>

  <textarea id='content-editor' placeholder="Describe your project in details."></textarea>
  <div style="clear: both;"></div>

  <input class='btn-primary btn' type='submit' value='create'/>
</form>
  

</template>