<template name='createClub'>
<h2>Create a project idea page</h2>
<form>
  <label for='name'>Name</label>
  <input type='text' id='name'/>
  <br/>
  <label for='desc'>Brief Description</label>
  <textarea id='desc' placeholder='140 characters or less'></textarea>
  <br/>
  <select id='categoryId'>
    <option value="" disabled selected>Category</option>
    {{#each categories}}
      <option value='{{_id}}'>{{name}}</option>
    {{/each}}
  </select>
  <br/>
  <input type='submit' value='create'/>
</form>

<h3>Examples</h3>
<ul class='no-bullet'>
  {{#each categories}}
    <li>
      <a href="/categoryId/{{_id}}">{{name}}</a>: {{desc}}</li>
    </li>
  {{/each}}
</ul>
  

</template>