<template name="home">
  <h1>Ideas on Meteor</h1>
  <ul id='category-list' class='no-bullet'>
    <li><a href='/allClubs'>All Ideas</a></li>
  </ul>
  
  <h2>About</h2>
  <p>
    This is a place for Cornell students to put their StartUp ideas, get feedback from peers and gather interest from potential users and collaborators, so that the ideas can be implemented quicker.
  </p>
  <h3>Idea Seekers</h3>
  <p>
    Browse through <a href='/allClubs'>all the ideas</a>, provide some feedback and join projects that interest you either as a collaborator or a user.
    If you don't find any ideas that interest you, then create your own.
  </p>
  <h3>Idea Builders</h3>
  <p>
    To get you started on realizing the ideas, create a page for your project idea to organize your plans and attract collaborators.
    Depending on how long you have been working on your ideas, this can vary from vague description of your vision to concrete solutions, or even extensions to your existing project.
  </p>
  <p>
    <a href="/createClub" class='btn btn-primary'>
      Creating a page for your project idea
    </a>
  </p>
  <p>
    For most of us, the goal is to build something useful quickly, may be in our spare time and Hackathon events. For this purpose, the best type of ideas should be simple but full of potential. If you want examples of what people can build in 1 day, check out <a href="http://madewith.meteor.com">madewith.meteor.com</a>.
  </p>
  

</template>
