<template name="home">
  <h1>Club Fest on Meteor</h1>
  <ul id='category-list' class='no-bullet'>
    <li><a href='/allClubs'>All Clubs</a></li>
    {{#each getCategories}}
      <li><a href='/categoryId/{{_id}}'>{{name}}</a></li>
    {{/each}}
  </ul>
  
  <h2>About</h2>
  <p>
    Club Fest is an afternoon event in Cornell where students learn about the hundreds of clubs on campus. It's a pity that this happens only once a year.
  </p>
  <h3>Students</h3>
  <p>
    The goal of this site is to take Club Fest onto the web so that students can "go to" Club Fest any time of the year.
  </p>
  <p>
    You can browse pages created by each club and join their mailing lists if you are interested. Also, you can easily unjoin any mailing list, so that you don't have to worry that joining too many mailing list will clutter your inbox.
  </p>
  <p>
    Tell your classmates and clubs about us.
  </p>
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fclub.fest.on.meteor.com&amp;width=300&amp;height=35&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=false&amp;send=true&amp;appId=513438482080102" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:35px;" allowTransparency="true"></iframe>
  <h3>Organizations</h3>
  <p>
    The goal is to provide clubs the opportunity to advertise outside of Club Fest. 
    To help you make a great club fest page, we make it easy to embed images and youtube videos.
    Facebook like buttons and "join mailing list" buttons are also built into your page.
  </p>
  <p>
    <a href="/createClub" class='btn btn-primary'>
      Creating a club fest page for your club
    </a>
  </p>
  <p>
    The "join mailing list" button gives students the ability to join and unjoin themselves.
    You no longer need to add or remove emails manually, and can have more time to make your club awesome. 
  </p>
  <p>
    Finally, we offer you a way to use this during the actual Club Fest. Just navigate to your club fest page, sign in, and click "Mailing List", which would then provide a textbox for passerby to enter their emails.
  </p>

</template>
