<template name="home">
  <h1>Club Fest on Meteor</h1>
  <ul id='category-list' class='no-bullet'>
    <li><a href='/allClubs'>All Clubs</a></li>
    {{#each getCategories}}
      <li><a href='/categoryId/{{_id}}'>{{name}}</a></li>
    {{/each}}
  </ul>
  
  <h2>About</h2>
  <p>
    Club Fest is an afternoon event in Cornell where students learn about the hundreds of clubs on campus. It's a pity that this happens only once a year.
  </p>
  <h3>Students</h3>
  <p>
    The goal of this site is to take Club Fest onto the web so that students can "go to" Club Fest any time of the year.
  </p>
  <p>
    You can browse pages created by each club and join their mailing lists if you are interested. The nice thing is that you can easily unjoin any mailing list that is cluttering your inbox.
  </p>
  <p>
    Tell your classmates and clubs about us.
  </p>
  <h3>Organizations</h3>
  <p>
    The goal is to provide clubs the opportunity to advertise outside of Club Fest. Also, we provide tools to handle mailing list so that you don't have to add and remove emails from the list manually. 
  </p>
  <p>
    To create a club fest page, click the button below. For further instruction, watch <a href='/instruction'>this video</a> and learn how to put content, pictures, youtube videos on your page.
  </p>
  <p>
    <a href="/createClub" class='btn btn-primary'>
      Create a club fest page for your club
    </a>
  </p>

  <p>
    Finally, we offer you a way to use this during the actual Club Fest. Just navigate to your club fest page, sign in, and click "Mailing List", which would then provide a textbox for passerby to enter their emails.
  </p>

</template>
