<template name='navbar'>
<div id='nav-wrapper'>
  <div id='left-nav'>
    <a href='/' title='home'><i class='icon-home'></i> Home</a>
    {{#if currentUser}}
      <a href='/profile'><i class='icon-briefcase'></i> Profile</a>
    {{/if}}
    {{#if currCategory}}
      {{#with currCategory}}
        <a href='/category/{{_id}}'>
          <i class='icon-chevron-up'></i> {{name}}
        </a>
      {{/with}}
    {{/if}}
  </div>
  <div id='right-nav'>
    {{loginButtons}}
  </div>
</div>
</template>