<template name='profile'>
<h2>My Profile</h2>
{{#with currentUser}}
  <h3>Mailing Lists</h3>
  {{#if clubMemberRoles}}
    <table class='joined-table'>
      {{#each clubMemberRoles}}
      <tr>
        <td>
          <a href="/clubId/{{_id}}">{{name}}</a>
        </td>
        {{#if editMode}}
          <td>
            <a class='unjoin-btn unjoin-member-btn' data-id={{_id}}>
              <i class='icon-remove'></i>
            </a>
          </td>
        {{/if}}
      </tr>
      {{/each}}
    </table>
  {{else}}
  <p>
    You are not on any mailing list currently. 
    <a href='/allClubs'>Go join some projects.</a>
  </p>   
  {{/if}}

  {{#if clubAdminRoles}}
    <h3>Project Admin</h3>
    <table class='joined-table'>
      {{#each clubAdminRoles}}
      <tr>
        <td>
          <a href="/clubId/{{_id}}">{{name}}</a>
        </td>
        {{#if editMode}}
          <td>
            <a class='unjoin-btn unjoin-admin-btn' data-id={{_id}}>
              <i class='icon-remove'></i>
            </a>
          </td>
        {{/if}}
      </tr>
      {{/each}}
    </table>
  {{/if}}  
{{/with}}
<div style='float: right;'>
  <a class='btn' id='edit-toggle'>Edit</a>
  <a class='btn' id='feedback-button' href='/feedback'>Feedback</a>  
</div>
</template>