<template name='sendMessage'>

{{#with club}}
  <h3>Email message</h3>
  <form>
    <h4>Subject</h4>
    <input type='text' id='email-subject'/>
    <br/>
    <h4>Content</h4>
    <textarea id='email-content'></textarea>
    <br/>
    <select id='email-to'>
      <option value='members' selected>Members</option>
      <option value='admins'>Admins</option>
    </select>
    <br/>
    <input type='hidden' value='{{name}}' id='club-name-input'/>
    <input type='submit' value='Send' id='send-btn'/>
    <button id='gmail-btn'>Go to gmail to send it</button>
  </form>

  {{> clubAdminNavbar}}
{{/with}}
</template>